[defaults]
inventory = hosts
remote_user = vagrant
private_key_file = /root/.vagrant.d/insecure_private_key
host_key_checking = false
log_path=/var/log/ansible.log
retry_files_enabled = false
forks = 5
poll_interval = 15

[privilege_escalation]
become = yes
become_method = sudo
